extends layout

block content
  .row(ng-controller='bloglistCtrl as listctrl')
    .col-xs-12.col-sm-8
      .row.list-group
        each blog in blogs
          .col-xs-12.list-group-item
            h4
              a(href="/blog/show/"+blog._id)= blog.title
              small &nbsp;
              span.badge.pull-right.badge-default {{123.2345 + 321.321 | currency:"£" }}
            p.lead= blog.content
            p
              a(href="/blog?userEmail="+blog.userEmail)= blog.userName
            p
              if blog.category
                each category in blog.category
                  span.label.label-warning= category
                    | &nbsp;
            div {{ 123.2345 + 321.321 | currency:"£" }}        
    .col-xs-12.col-sm-4
      p.lead= sidebar