extends layout

block content
  .row
      p.lead user's information
      .col-md-6.col-sm-12
        .table-reponsive
          table.table.table-bordered.table-striped
            tbody
              tr
                th Account name
                td.useremail= user.email
              tr
                th Full name
                td.username= user.name
              tr
                th Gender
                - var gender=['Female','Male','Other'];
                td= gender[user.gender]
              tr
                th birthday
                - var strBirth='';
                - if (user.birthday) strBirth=user.birthday.toLocaleString().substr(0,10)
                td= strBirth

        button.btn.btn-default(type='submit') Edit
